El dataset utilizado en este proyecto se extrajo del siguiente enlace:

[Ir al dataset](https://www.kaggle.com/datasets/joyshil0599/a-comprehensive-dataset-of-100k-amazon-products?resource=download)

# Librerías

Cargamos las librerías que utilizaremos en este análisis exploratorio de datos

In [265]:
import pandas as pd

# Introducción

## Cargamos el dataset y observamos las primeras cinco filas

In [266]:
df = pd.read_csv('amazon_toys_1.csv', encoding='cp1252')
df.head(5)

,Product Description,PriceDollar),Number of reviews,Real priceDollar),Free days,Shipment,Delivery Date,How many sell in past month,Stock update,Age
0,Spider-Man Marvel Legends Series Across The Sp...,24,71,24.99,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",200+ bought in past week,3 left in stock - order soon.,4 years and up
1,Spider-Man Marvel Legends Series Across The Sp...,22,55,14.99,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",200+ bought in past week,3 left in stock - order soon.,4 years and up
2,Fisher-Price Little People Musical Toddler Toy...,7,"2,895",9.99,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,12 months - 5 years
3,CatToysOfficial - CAT Little Machines 5pcs Con...,5,"2,530",24.99,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,36 months - 6 years
4,Spider-Man Marvel Legends Series Across The Sp...,22,40,85.99,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",90 days FREE. Terms apply.,3 left in stock - order soon.,4 years and up

Procedemos a cambiar el nombre de las columnas para que sea más accesible a hispano hablantes

In [267]:
nombres = ['Descripcion', 'Precio', 'Reseñas', 'Precio Real', 'Dias sin cargo', 'Envio', 'Fecha de entrega', 'Ventas en meses pasados', 'Stock', 'Edad']
df.columns = nombres

## Observamos el tipo de dato que presentan las columnas

In [268]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11403 entries, 0 to 11402
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Descripcion              11403 non-null  object
 1   Precio                   11403 non-null  int64
 2   Reseñas                  11403 non-null  object
 3   Precio Real              11403 non-null  object
 4   Dias sin cargo           11403 non-null  object
 5   Envio                    11403 non-null  object
 6   Fecha de entrega         11403 non-null  object
 7   Ventas en meses pasados  11403 non-null  object
 8   Stock                    11403 non-null  object
 9   Edad                     11403 non-null  object
dtypes: int64(1), object(9)
memory usage: 891.0+ KB

Puede observarse que existen 7 columnas que deberían tener datos númericos, flotantes o enteros, que son objetos. Estas son: 'Reseñas', 'Precio Real', 'Días sin cargo', 'Ventas en meses pasados', 'Stock' y 'Edad'. Vamos a proceder a limpiar estas columnas y convertirlas en el tipo de dato que le sea pertinente.

## La columna Reseñas

In [269]:
df['Reseñas'].head(10)

0       71
1       55
2    2,895
3    2,530
4       40
5    1,434
6      278
7      663
8       41
9       88
Name: Reseñas, dtype: object

Puede observarse que alguno de los datos presentan un número con coma. La coma pretende aquí ser un separador visual entre la centena y la unidad de mil. Por tal motivo vamos a quitarla antes de realizar la transformación de los datos.

In [270]:
df['Reseñas'] = df['Reseñas'].str.replace(',', '')
df['Reseñas']

0          71
1          55
2        2895
3        2530
4          40
         ...
11398    1094
11399      78
11400      78
11401      78
11402      78
Name: Reseñas, Length: 11403, dtype: object

Aquí puede verse que hemos logrado quitar la coma de la columna en cuestión. Ahora debemos modificar el tipo de dato a entero.

In [271]:
df['Reseñas'] = pd.to_numeric(df['Reseñas'])

Comprobamos que el cambio se haya ejecutado.

In [272]:
df['Reseñas'].dtype

dtype('int64')

## La columna Precio Real

In [273]:
df['Precio Real'].head(10)

0    24.99
1    14.99
2     9.99
3    24.99
4    85.99
5    22.99
6    32.99
7    24.99
8    34.99
9    49.99
Name: Precio Real, dtype: object

Desplegamos los valores únicos de esta columna y notamos que existe un valor no númerico 'None'.

In [274]:
df['Precio Real'].unique()

array(['24.99', '14.99', '9.99', '85.99', '22.99', '32.99', '34.99',
       '49.99', '42.99', '11.99', '39.99', '69.99', '18.11', 'None',
       '4.57', '19.99', '21.99', '6.99', '18.79', '29.99', '13.99',
       '27.99', '50.00', '15.99', '65.00', '16.99', '80.00', '12.99',
       '70.00', '7.99', '18.39', '10.49', '17.49', '6.71', '37.99',
       '63.02', '25.00', '10.99', '19.95', '89.99', '8.17', '15.18',
       '25.16', '26.99', '59.99', '38.42', '6.31', '12.91', '44.99',
       '15.63', '31.99', '16.37', '18.99', '25.36', '38.99', '12.89',
       '33.99', '139.99', '5.99', '58.99', '12.11', '104.99', '45.99',
       '57.99', '13.94', '19.87', '25.39', '64.99', '23.99', '16.84',
       '35.99', '20.24', '9.62', '26.33', '31.25', '22.21', '12.35',
       '9.93', '79.99', '13.75', '66.99', '8.95', '27.54', '44.61',
       '16.31', '16.08', '3.99', '13.95', '16.00', '29.26', '55.99',
       '84.99', '5.89', '4.49', '17.19', '5.92', '7.25', '24.23', '21.78',
       '62.99', '8.33', '15.94', '5.58', '11.98', '39.00', '16.11',
       '14.85', '14.98', '6.96', '62.95', '14.50', '47.81', '10.61',
       '17.99', '15.00', '13.39', '31.49', '33.10', '78.78', '13.88',
       '25.46', '13.85', '35.90', '21.67', '9.98', '18.09', '29.69',
       '9.50', '19.49', '16.72', '7.52', '34.49', '23.15', '14.00',
       '74.99', '14.29', '55.00', '41.99', '48.99', '25.99', '20.53',
       '30.00', '13.69', '24.70', '28.77', '15.61', '24.95', '52.99',
       '20.99', '54.99', '18.95', '8.84', '44.95', '17.28', '11.79',
       '77.99', '13.78', '20.00', '73.59', '14.75', '179.99', '17.25',
       '14.90', '18.49', '24.81', '33.24', '52.43', '29.98', '11.88',
       '13.80', '61.99', '11.64', '26.74', '22.75', '10.93', '12.00',
       '40.00', '82.00', '8.76', '7.51', '109.99', '21.41', '43.99',
       '8.64', '127.99', '22.96', '53.99', '10.09', '68.23', '17.00',
       '123.99', '95.00', '76.99', '27.00', '56.05', '5.16', '14.97',
       '131.99', '25.17', '19.94', '56.64', '30.83', '229.99', '28.99',
       '14.19', '60.00', '33.00', '130.00', '8.96', '124.99', '8.62',
       '129.99', '149.99', '8.78', '54.83', '56.00', '20.91', '7.82',
       '75.00', '30.09', '7.79', '28.94', '45.00', '8.37', '8.99',
       '119.99', '8.88', '22.85', '17.82', '29.96', '8.51', '19.28',
       '21.21', '16.06', '22.72', '29.95', '10.75', '29.30', '25.79',
       '22.59', '99.99', '9.64', '145.00', '22.00', '11.50', '23.97',
       '15.89', '22.69', '30.72', '7.67', '34.93', '26.34', '99.00',
       '125.00', '88.00', '14.56', '24.30', '10.29', '144.99', '52.00',
       '27.88', '27.98', '11.90', '6.48', '22.88', '13.35', '15.44',
       '11.75', '9.57', '18.90', '22.36', '56.80', '31.09', '21.98',
       '16.90', '33.20', '21.70', '143.92', '27.95', '15.42', '14.30',
       '47.99', '25.20', '14.95', '34.95', '32.00', '36.99', '24.10',
       '10.39', '37.97', '209.99', '22.80', '16.19', '29.85', '6.00',
       '10.63', '46.99', '175.00', '97.99', '51.13', '11.85', '11.49',
       '11.95', '10.11', '159.92', '131.90', '18.32', '32.95', '17.60',
       '49.98', '9.17', '21.95', '4.95', '72.99', '26.49', '6.28',
       '45.79', '8.77', '33.58', '169.99', '67.99', '38.12', '13.73',
       '39.48', '22.95', '18.98', '59.97', '28.00', '114.99', '10.16',
       '16.94', '15.39', '19.50', '24.39', '6.36', '49.00', '9.05',
       '69.18', '59.01', '21.49', '16.24', '30.90', '11.39', '51.99',
       '39.26', '11.40', '25.09', '109.33', '21.58', '21.59', '5.67',
       '40.98', '32.72', '21.00', '10.46', '20.26', '15.97', '11.59',
       '54.00', '48.50', '21.64', '11.89', '25.95', '40.72', '88.61',
       '41.94', '31.45', '87.99', '8.93', '16.39', '120.00', '100.09',
       '36.00', '23.88', '68.96', '110.99', '16.98', '63.99', '56.99',
       '20.01', '49.95', '110.00', '33.84', '11.87', '24.00', '38.96',
       '44.84', '81.80', '33.03', '85.00', '23.50', '100.00', '8.24',
       '7.50', '40.81', '199.99', '32.56', '36.71', '159.98', '56.29',
       '35.28', '11.96', '31.58', '14.41', '24.03', '34.14', '53.80',
       '14.62', '54.87', '23.30', '98.00', '159.95', '12.59', '25.70',
       '42.11', '23.95', '115.00', '59.95', '499.99', '15.16', '17.43',
       '50.46', '64.95', '15.37', '13.21', '35.00', '53.97', '36.73',
       '49.17', '19.89', '140.00', '8.25', '107.94', '23.98', '62.62',
       '12.70', '56.98', '27.47', '230.00', '79.95', '150.00', '11.94',
       '49.16', '10.00', '71.00', '20.92', '54.98', '11.09', '23.81',
       '105.30', '25.49', '8.97', '20.81', '9.15', '26.86', '16.69',
       '18.24', '240.00', '30.99', '42.00', '37.95', '174.99', '43.36',
       '19.60', '59.00', '24.02', '17.40', '50.44', '59.35', '17.95',
       '21.05', '6.24', '47.50', '26.88', '18.17', '44.00', '25.04',
       '5.85', '29.63', '8.75', '63.49', '48.47', '16.26', '139.00',
       '109.95', '8.35', '40.45', '15.22', '18.00', '38.04', '12.97',
       '140.02', '23.84', '50.88', '29.94', '52.95', '32.88', '20.27',
       '78.94', '223.95', '134.99', '180.00', '8.89', '25.47', '21.90',
       '71.99', '85.82', '179.00', '35.95', '13.03', '62.39', '22.78',
       '53.75', '63.00', '10.86', '58.42', '39.98', '62.72', '60.99',
       '99.15', '22.34', '36.55', '33.94', '9.44', '87.95', '44.27',
       '12.49', '135.00', '17.04', '23.69', '299.00', '90.00', '38.95',
       '57.98', '62.19', '95.99', '16.20', '160.00', '64.82', '41.18',
       '45.50', '9.90', '58.09', '38.00', '12.05', '17.65', '255.28',
       '42.98', '25.42', '16.97', '48.18', '59.74', '15.71', '416.38',
       '11.97', '106.62', '69.00', '12.85', '89.83', '20.95', '77.58',
       '17.13', '24.91', '29.57', '10.35', '18.65', '170.00', '47.80',
       '14.17', '249.99', '21.72', '11.82', '6.98', '41.76', '26.35',
       '43.94', '250.00', '26.97', '30.84', '11.29', '21.20', '80.99',
       '107.25', '26.00', '86.99', '36.75', '10.52', '12.69', '24.35',
       '149.90', '330.00', '280.00', '15.02', '15.90', '12.95', '51.00',
       '7.86', '22.87', '17.96', '16.77', '11.73', '17.74', '46.11',
       '50.55', '53.77', '72.00', '15.70', '66.09', '10.98', '23.00',
       '16.25', '59.90', '94.74', '89.00', '168.00', '48.89', '154.99',
       '39.09', '19.19', '24.49', '16.95', '52.82', '26.84', '36.84',
       '26.01', '109.00', '27.64', '66.40', '33.95', '67.84', '25.53',
       '72.35', '17.27', '159.99', '7.49', '33.30', '15.65', '49.10',
       '15.35', '123.16', '67.24', '20.50', '117.99', '16.42', '38.50',
       '49.86', '52.80', '17.23', '24.31', '96.00', '37.96', '55.04',
       '20.03', '47.06', '17.97', '21.38', '31.02', '55.28', '32.98',
       '37.80', '15.26', '224.99', '5.69', '126.83', '34.06', '259.88',
       '79.63', '41.96', '31.00', '38.31', '25.06', '36.78', '37.00',
       '31.59', '65.99', '39.89', '105.00', '94.99', '19.00', '69.02',
       '19.79', '79.00', '175.18', '9.95', '98.98', '14.84', '12.34',
       '24.90', '87.29', '12.06', '10.72', '23.03', '221.13', '74.29',
       '18.42', '83.61', '23.09', '58.94', '28.96', '46.80', '54.88',
       '41.63', '210.00', '16.96', '28.98', '22.74', '36.90', '25.82',
       '48.93', '37.72', '132.00', '26.95', '20.67', '15.98', '279.99',
       '21.88', '29.00', '23.79', '14.64', '14.39', '34.00', '9.23',
       '409.99', '73.90', '75.50', '24.50', '45.44', '18.61', '26.54',
       '24.89', '19.85', '21.76', '27.34', '41.00', '10.50', '26.37',
       '13.65', '38.19', '54.69', '67.49', '39.69', '24.04', '57.23',
       '154.76', '42.62', '17.94', '20.37', '30.63', '29.67', '70.56',
       '22.50', '162.15', '84.98', '63.39', '29.76', '39.75', '185.00',
       '71.34', '79.76', '39.93', '83.94', '184.81', '25.63', '32.50',
       '419.99', '39.97', '28.59', '67.17', '22.56', '304.99', '131.42',
       '51.01', '59.87', '20.79', '23.53', '59.62', '274.99', '16.49',
       '6.27', '49.80', '58.97', '149.00', '8.01', '79.45', '34.30'],
      dtype=object)

Observamos la cantidad de valores None en la columna.

In [275]:
len(df[df['Precio Real']=='None'])

6638

Vemos a qué hacen referencia los valores None.

In [276]:
df[df['Precio Real']=='None']

,Descripcion,Precio,Reseñas,Precio Real,Dias sin cargo,Envio,Fecha de entrega,Ventas en meses pasados,Stock,Edad
17,"Gabby's Dollhouse, Deluxe Figure Gift Set with...",22,579,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,11years and up
18,Transformers Toys Heroic Optimus Prime Action ...,20,10204,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,
19,Fisher-Price Little People Toddler Learning To...,34,5191,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,8 years and up
20,"Marvel Legends Series Ms, The 6-Inch Collectib...",24,78,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,4 years and up
21,DELUXE BAG OF CLASSIC TOY GREEN ARMY SOLDIERS ...,8,128,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,4 years and up
...,...,...,...,...,...,...,...,...,...,...
11398,Papo - Hand-Painted - Figurine - Marine Life -...,11,1094,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,1 left in stock - order soon.,
11399,Green Toys Farm Playset. CB2,26,78,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,1 left in stock - order soon.,11.40
11400,"Teenage Mutant Ninja Turtles 5"" Sewer Shredder...",10,78,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,1 left in stock - order soon.,
11401,"Schleich Wild Life, Wild Animal Toys for Kids,...",42,78,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,1 left in stock - order soon.,5 years and up
11402,"Schleich bayala, 5-Piece Starter Set with Fair...",34,78,None,90 days FREE. Terms apply.,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,1 left in stock - order soon.,

Parecería ser que son aquellos artículos sin una rebaja. Por ello, parece razonable aplicarle el mismo valor que el de la columna 'Precio'. Para eso creamos un nuevo dataframe y equiparamos el dataframe con Precio Real igual a None a los valores de la columna precio del nuevo dataframe.

In [277]:
df_valores_none = df[df['Precio Real']=='None']

In [278]:
df.loc[df['Precio Real']=='None', 'Precio Real'] = df_valores_none['Precio']

Una vez imputados los valores faltantes a la columna procedemos a cambiar el tipo de dato.

In [279]:
df['Precio Real'] = pd.to_numeric(df['Precio Real'])

Comprobamos que el cambio se haya realizado.

In [280]:
df['Precio Real'].dtype

dtype('float64')

## La columna Dias sin Cargo

In [281]:
df['Dias sin cargo'].dtype

dtype('O')

Vemos que la columna en cuestión es un objeto de pandas. Lo que vamos a hacer es dividir la cantidad de días y el resto del texto. Cómo es relevante sólo la cantidad nos quedaremos únicamente con tal columna.

In [282]:
df[['Dias sin cargo', 'Otros']] = df['Dias sin cargo'].str.split(' ', n=1, expand=True)

Eliminamos la columna 'Otros', ya que se trata de texto que no vamos a utilizar.

In [283]:
df.drop('Otros', axis=1, inplace=True)

In [284]:
df.head()

,Descripcion,Precio,Reseñas,Precio Real,Dias sin cargo,Envio,Fecha de entrega,Ventas en meses pasados,Stock,Edad
0,Spider-Man Marvel Legends Series Across The Sp...,24,71,24.99,90,Ships to Bangladesh,"Tue, Jun 20",200+ bought in past week,3 left in stock - order soon.,4 years and up
1,Spider-Man Marvel Legends Series Across The Sp...,22,55,14.99,90,Ships to Bangladesh,"Tue, Jun 20",200+ bought in past week,3 left in stock - order soon.,4 years and up
2,Fisher-Price Little People Musical Toddler Toy...,7,2895,9.99,90,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,12 months - 5 years
3,CatToysOfficial - CAT Little Machines 5pcs Con...,5,2530,24.99,90,Ships to Bangladesh,"Tue, Jun 20",100+ bought in past week,3 left in stock - order soon.,36 months - 6 years
4,Spider-Man Marvel Legends Series Across The Sp...,22,40,85.99,90,Ships to Bangladesh,"Tue, Jun 20",90 days FREE. Terms apply.,3 left in stock - order soon.,4 years and up

Observamos si existen otros valores en la columna.

In [285]:
df['Dias sin cargo'].unique()

array(['90', 'Save'], dtype=object)

Como esta columna refiere a una oferta especial, vamos a quitar el valor 'Save' y vamos a modificarlo por 0. Es decir, 0 días sin cargo.

In [286]:
df['Dias sin cargo'] = df['Dias sin cargo'].str.replace('Save', '0')

Comprobamos que el cambio se haya ejecutado.

In [287]:
df['Dias sin cargo'].unique()

array(['90', '0'], dtype=object)

Ahora es momento de convertir este tipo de dato a tipo entero.

In [288]:
df['Dias sin cargo'] = pd.to_numeric(df['Dias sin cargo'])

Comprobamos la realización del cambio.

In [289]:
df['Dias sin cargo'].dtype

dtype('int64')

## Columna de Ventas en meses pasados

Observamos cuáles son los valores que presenta esta columna.

In [290]:
df['Ventas en meses pasados'].unique()

array(['200+ bought in past week', '100+ bought in past week',
       '90 days FREE. Terms apply.', '50+ bought in past week',
       'Save 5% on 2 select items)'], dtype=object)

Como en esta columna nos interesa la cantidad de articulos vendidos, vamos a eliminar aquellos strings que no nos permitan decidir respecto del número de ventas en meses pasados.

In [291]:
df[['Ventas en meses pasados', 'Otros']] = df['Ventas en meses pasados'].str.split(' ', n=1, expand=True)

Comprobamos que se haya ejecutado correctamente el split.

In [292]:
df.head(5)

,Descripcion,Precio,Reseñas,Precio Real,Dias sin cargo,Envio,Fecha de entrega,Ventas en meses pasados,Stock,Edad,Otros
0,Spider-Man Marvel Legends Series Across The Sp...,24,71,24.99,90,Ships to Bangladesh,"Tue, Jun 20",200+,3 left in stock - order soon.,4 years and up,bought in past week
1,Spider-Man Marvel Legends Series Across The Sp...,22,55,14.99,90,Ships to Bangladesh,"Tue, Jun 20",200+,3 left in stock - order soon.,4 years and up,bought in past week
2,Fisher-Price Little People Musical Toddler Toy...,7,2895,9.99,90,Ships to Bangladesh,"Tue, Jun 20",100+,3 left in stock - order soon.,12 months - 5 years,bought in past week
3,CatToysOfficial - CAT Little Machines 5pcs Con...,5,2530,24.99,90,Ships to Bangladesh,"Tue, Jun 20",100+,3 left in stock - order soon.,36 months - 6 years,bought in past week
4,Spider-Man Marvel Legends Series Across The Sp...,22,40,85.99,90,Ships to Bangladesh,"Tue, Jun 20",90,3 left in stock - order soon.,4 years and up,days FREE. Terms apply.

Quitamos la columna de 'Otros' que no vamos a utilizar

In [293]:
df.drop('Otros', axis=1, inplace=True)

Reemplazamos el signo '+' en los caso en los que sea necesario

In [294]:
df['Ventas en meses pasados'] = df['Ventas en meses pasados'].str.replace('+', '', regex=False)

Observamoz que se haya ejecutado el cambio

In [295]:
df['Ventas en meses pasados'].unique()

array(['200', '100', '90', '50', 'Save'], dtype=object)

Existe un valor que se aparece que es 'Save'. Vamos a proceder a investigar las filas que están asociados a dicho valor en la columna.

In [296]:
df[df['Ventas en meses pasados']=='Save']

,Descripcion,Precio,Reseñas,Precio Real,Dias sin cargo,Envio,Fecha de entrega,Ventas en meses pasados,Stock,Edad
11177,Beast Kingdom AvatarThe Way of Water – Jake Su...,23,1,21.99,90,Ships to Bangladesh,"Tue, Jun 20",Save,10 left in stock - order soon.,14 years and up

Cómo no es claro a lo que refiere dicho valor y sólo hay una reseñan, vamos a imputar el valor 1 a la columna que cumple con el filtro utilizado.

In [297]:
df.loc[df['Ventas en meses pasados']=='Save', 'Ventas en meses pasados'] = 1

Comprobamos que se haya imputado el cambio

In [298]:
df['Ventas en meses pasados'].unique()

array(['200', '100', '90', '50', 1], dtype=object)

Ahora transformamos todos los valores a datos numéricos

In [299]:
df['Ventas en meses pasados'] = pd.to_numeric(df['Ventas en meses pasados'])
df['Ventas en meses pasados'].dtype

dtype('int64')

## La columna Stock

Esta columna presenta el mismo inconveniente que las anteriores. Tenemos un número que nos indica la cantidad de producto disponible, junto con cadenas de string. Vamos a proceder a dividr entre dicho número, que es el dato que nos interesa, y la cadena de string. Utilizamos el método split que ya habíamos usado más arriba.

In [300]:
df[['Stock', 'Otros']] = df['Stock'].str.split('left', n=1, expand=True, regex=False)

Aclaración, se tuvo que especificar la palabra de división 'left', ya que con el espacio no se lograba el split deseado. Quitamos la columna Otros.

In [301]:
df.drop('Otros', axis=1, inplace=True)

Transformamos la columna a dato numérico.

In [302]:
df['Stock'] = pd.to_numeric(df['Stock'])
df['Stock'].dtype

dtype('int64')

Observamos el resultado final.

In [303]:
df.head()

,Descripcion,Precio,Reseñas,Precio Real,Dias sin cargo,Envio,Fecha de entrega,Ventas en meses pasados,Stock,Edad
0,Spider-Man Marvel Legends Series Across The Sp...,24,71,24.99,90,Ships to Bangladesh,"Tue, Jun 20",200,3,4 years and up
1,Spider-Man Marvel Legends Series Across The Sp...,22,55,14.99,90,Ships to Bangladesh,"Tue, Jun 20",200,3,4 years and up
2,Fisher-Price Little People Musical Toddler Toy...,7,2895,9.99,90,Ships to Bangladesh,"Tue, Jun 20",100,3,12 months - 5 years
3,CatToysOfficial - CAT Little Machines 5pcs Con...,5,2530,24.99,90,Ships to Bangladesh,"Tue, Jun 20",100,3,36 months - 6 years
4,Spider-Man Marvel Legends Series Across The Sp...,22,40,85.99,90,Ships to Bangladesh,"Tue, Jun 20",90,3,4 years and up

## La columna Edad

Parecería ser que en esta columna tenemos la edad en años o meses. Cuando está expresada en meses nos encontramos con un rango etario. Podríamos expresar el valor mínimo de la edad. Para esto, nuevamente, vamos a ir paso a paso. El primero de estos pasos es separar la edad, en años o mesos, del resto de strings.

In [304]:
df[['Edad', 'Otro']] = df['Edad'].str.split(' ', n=1, expand=True)

Podemos observar en nuestro dataset que encontramos algunas edades que son flotantes, lo cuál nos llama la atención. En general, puede apreciarse que tales edades están asociadas a una columna 'None' en la etiqueta Otro. Vamos a indagar esto mismo.

In [305]:
serie = df.loc[df['Otro'].isnull(), 'Otro']
diferentes = 0
none = 0
for i in serie.values:
    if i is None:
        none+=1
    else:
        diferentes+=1

print(diferentes, none)

0 1805

Iterando un bucle sobre los valores de la serie podemos observar que los valores None forman el total de las filas de este filtro. Como no tenemos un valor en edad vamos a imputarle el número 0 a todos aquellos valores que sean null.

In [306]:
df.loc[df['Otro'].isnull(), 'Edad'] = 0

Realizamos la misma operación para aquellas celadas que hayan quedado con un valor no asignado.

In [307]:
df.loc[df['Edad']=='', 'Edad'] = 0

Transformamos toda la columna Edad en string para poder aplicar un filtro de strings.

In [308]:
df['Edad'] = df['Edad'].apply(lambda x: str(x))

Reemplazamos en la columna edad aquellos strings que contienen la palabra 'year' junto con el número de la edad.

In [309]:
df.loc[df['Edad'].str.contains('year'), 'Edad'] = df['Edad'].str.replace('year', '')

In [310]:
df['Edad'].value_counts()

0         7045
15         637
4          501
6          409
3          366
          ...
50s          1
54           1
44           1
60s          1
Amazon       1
Name: Edad, Length: 109, dtype: int64

Lo mismo vamos a hacer para la letra 's' que se puede apreciar en el value_counts() de arriba.

In [311]:
df.loc[df['Edad'].str.contains('s'), 'Edad'] = df['Edad'].str.replace('s', '')

De igual manera procedemos con 'Amazon'.

In [312]:
df.loc[df['Edad'].str.contains('Amazon'), 'Edad'] = df['Edad'].str.replace('Amazon', '')

Transformamos toda la columna edad en numérica.

In [313]:
df['Edad'] = pd.to_numeric(df['Edad'])

Ahora vamos a proceder a hacer uniforme la edad. Para ello nos observaremos la columna 'Otros' y localizaremos aquellas celdas que relacionadas con la palabra 'month' para trabajar a la edad en años.

Nuevamente, transformamos toda la columna en string.

In [314]:
df['Otro'] = df['Otro'].apply(lambda x: str(x))

Aplicamos la división piso para obtener las edades en años y sin números con decimales.

In [315]:
df.loc[df['Otro'].str.contains('months'), 'Edad'] = df['Edad']//12

Podemos notar que ahora en la columna edad tenemos un valor NaN, el cuál imputaremos con el número 0.

In [316]:
df[df['Edad'].isna()] = 0

Transformamos todos los valores de la columna edad en enteros.

In [317]:
df['Edad'] = df['Edad'].apply(lambda x: int(x))

Procedemos a eliminar la columna 'Otro', ya que no se utilizará en el resultado final.

In [318]:
df.drop('Otro', axis=1)

,Descripcion,Precio,Reseñas,Precio Real,Dias sin cargo,Envio,Fecha de entrega,Ventas en meses pasados,Stock,Edad
0,Spider-Man Marvel Legends Series Across The Sp...,24,71,24.99,90,Ships to Bangladesh,"Tue, Jun 20",200,3,4
1,Spider-Man Marvel Legends Series Across The Sp...,22,55,14.99,90,Ships to Bangladesh,"Tue, Jun 20",200,3,4
2,Fisher-Price Little People Musical Toddler Toy...,7,2895,9.99,90,Ships to Bangladesh,"Tue, Jun 20",100,3,1
3,CatToysOfficial - CAT Little Machines 5pcs Con...,5,2530,24.99,90,Ships to Bangladesh,"Tue, Jun 20",100,3,3
4,Spider-Man Marvel Legends Series Across The Sp...,22,40,85.99,90,Ships to Bangladesh,"Tue, Jun 20",90,3,4
...,...,...,...,...,...,...,...,...,...,...
11398,Papo - Hand-Painted - Figurine - Marine Life -...,11,1094,11.00,90,Ships to Bangladesh,"Tue, Jun 20",100,1,0
11399,Green Toys Farm Playset. CB2,26,78,26.00,90,Ships to Bangladesh,"Tue, Jun 20",100,1,0
11400,"Teenage Mutant Ninja Turtles 5"" Sewer Shredder...",10,78,10.00,90,Ships to Bangladesh,"Tue, Jun 20",100,1,0
11401,"Schleich Wild Life, Wild Animal Toys for Kids,...",42,78,42.00,90,Ships to Bangladesh,"Tue, Jun 20",100,1,5
11402,"Schleich bayala, 5-Piece Starter Set with Fair...",34,78,34.00,90,Ships to Bangladesh,"Tue, Jun 20",100,1,0

Descargamos el dataset limpio en formato csv.

In [323]:
df.to_csv('data_limpio.csv')